<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='/static/css/bootstrap.min.css'>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <title>Title</title>
    <style>
        th {
            width: 50%;
        }
    </style>
</head>
<body>
<table class="table table-bordered">
    <tr>
        <th>一</th>
        <th>二</th>
    </tr>
    <tr>
        <td>
            <div style="height: 200px;" class="pre-scrollable">
            </div>
        </td>
        <td></td>
    </tr>
</table>
</body>
</html>